body {
  margin: 0;
}

.memoryAppContainer {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;

  .memoryTitleBar {
    display: flex;
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 10px 30px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

    .leftSection {
      display: flex;
      gap: 50px;

      .leftSectionItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;

        .difficultyLevel {
          padding: 0;
        }
      }

      .youWon {
        display: flex;
        align-items: center;
        font-size: 45px;
        color: green;
      }
    }

    .resetButton {
      cursor: pointer;
      height: 40px;
    }
  }

  .memoryMainContent {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow-y: auto;

    .memoryTile {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 50px;
      border: 1px solid gray;
      border-width: 0 1px 1px 0;
      width: calc(100% / 4);
      aspect-ratio: 1 / 1;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;

      &:hover {
        .tileShutter {
          height: 0;
        }
      }

      .tileShutter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: height 0.3s ease;
      }
    }
  }
}