body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.memoryAppContainer {
    .momoryTitle {
        border-bottom: 1px solid gray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        padding: 10px 30px;

        .momoryTitle {
            border-bottom: none;
            padding: 0;

            .titleBlock {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }

    .memoryGameContent {
        display: flex;
        flex-wrap: wrap;

        .tile {
            position: relative;
            width: 25%;
            aspect-ratio: 1 / 1;
            box-sizing: border-box;
            border: 1px solid gray;
            border-width: 0 1px 1px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;

            &:last-child {
                border-right: 1px solid gray;
            }

            .tileCurten {
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: lightgray;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    height: 0;
                }
            }

        }
    }
}