body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.memoryAppContainer {
    .momoryTitle {
        border-bottom: 1px solid gray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        padding: 10px 30px;

        .momoryTitle {
            border-bottom: none;
            padding: 0;

            .titleBlock {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }

    .memoryGameContent {
        display: flex;

        .tile {
            width: 100px;
            height: 100px;
            border: 1px solid gray;
            border-width: 0 0 1px 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;

            &:last-child {
                border-right: 1px solid gray;
            }

        }
    }
}