body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.momoryTitle {
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 10px 30px;
}

.titleLeftSide {
    border-bottom: none;
}